
		body{background-image: url("http://assets.sbnation.com/assets/2300537/deandrethunderdunk.gif");
			margin: 4%; outline: dashed; padding: 20%; 

		}

			#myid{color: teal}
			.media {color: purple;}
			.haci {color: blue;}

		p{
			font-size: 25px;
			


		}